<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()">{{ SITE_NAME }}</a>
  </div>
  <nb-select class="mx-2" [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
    <nb-option *ngFor="let theme of THEMES" [value]="theme.value"> {{ theme.name }}</nb-option>
  </nb-select>
  <nb-select [selected]="currentLanguage" (selectedChange)="changeLanguage($event)" status="primary">
    <nb-option *ngFor="let language of LANGUAGE_OPTIONS" [value]="language.value">{{ language.name }}</nb-option>
  </nb-select>
</div>
<div
  *ngIf="{
    uncompletedPurchasesForTomorrow: uncompletedPurchasesForTomorrow$ | async
  } as data"
  class="header-container"
>
  <nb-actions size="small">
    <nb-action
      class="control-item mx-2"
      icon="bell-outline"
      [badgeText]="data.uncompletedPurchasesForTomorrow.length && data.uncompletedPurchasesForTomorrow.length"
      badgeStatus="warning"
      [nbPopover]="purchasesList"
      nbPopoverPlacement="bottom"
      #popover="nbPopover"
    ></nb-action>
    <nb-action class="user-action" *nbIsGranted="['view', 'user']">
      <nb-user [nbContextMenu]="[{ title: 'user.logout-title' | translate, link: '/auth/logout' }]" [name]="user?.name"> </nb-user>
    </nb-action>
  </nb-actions>

  <ng-template #purchasesList>
    <nb-card class="mb-0">
      <nb-card-header>{{ 'global.feed-list-title' | translate }}</nb-card-header>
      <nb-list>
        <nb-list-item *ngFor="let purchase of data.uncompletedPurchasesForTomorrow" (click)="popover.hide()">
          <a routerLink="/pages/purchases" class="cursor-pointer link text-decoration-none">
            <span class="mr-2 font-weight-bold">
              {{ purchase.deliveryDate | date: 'HH:mm' }}
            </span>
            <span>
              {{ purchase.customer.address || purchase.customer.name }}
            </span>
          </a>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </ng-template>
</div>
