<div
  *ngIf="{ isBusy: isBusy$ | async, createdPurchase: purchase$ | async, failed: failed$ | async } as state"
  class="d-flex justify-center items-center"
>
  <nb-card class="w-100 w-100" [accent]="state.failed ? 'danger' : state.createdPurchase ? 'success' : 'primary'">
    <nb-card-header>
      <div class="d-flex justify-content-between w-100">
        <span>{{
          state.createdPurchase
            ? ('purchases.id' | translate: { createPurchaseId: state.createdPurchase.id })
            : ('purchases.new' | translate)
        }}</span>
        <div>
          <button
            nbButton
            *ngIf="!state.createdPurchase"
            ghost
            status="danger"
            nbTooltip="{{ 'purchases.clear' | translate }}"
            nbTooltipPlacement="bottom"
            (click)="onClear()"
          >
            <nb-icon icon="close"></nb-icon>
          </button>
          <button
            nbButton
            ghost
            status="warning"
            nbTooltip="{{ 'purchases.refresh' | translate }}"
            nbTooltipPlacement="bottom"
            (click)="fetchData()"
          >
            <nb-icon icon="repeat-outline"></nb-icon>
          </button>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body>
      <form class="d-flex flex-column items-center" [formGroup]="form">
        <!-- Purchase -->
        <div class="row w-100">
          <div class="col-6 col-md-3 order-1 order-md-0 form-group">
            <label for="inputAmount" class="label">{{ 'global.amount' | translate }} <span class="text-danger">*</span></label>
            <input
              nbInput
              fullWidth
              id="inputAmount"
              placeholder="{{ 'global.amount' | translate }}"
              [status]="form.get('amount').touched && form.get('amount').invalid ? 'danger' : 'basic'"
              formControlName="amount"
            />
          </div>

          <div class="col-12 col-md-6 order-0 order-md-1 form-group">
            <label for="inputProductId" class="label">{{ 'global.product' | translate }} <span class="text-danger">*</span></label>
            <nb-select fullWidth id="inputProductId" placeholder="{{ 'purchases.select-product' | translate }}" formControlName="productId">
              <nb-option *ngFor="let product of products$ | async" [value]="product.id"
                >{{ product.name }} ({{ product.amount }})</nb-option
              >
            </nb-select>
          </div>

          <div class="col-6 col-md-3 order-2 form-group">
            <label for="inputPrice" class="label">{{ 'global.price' | translate }} <span class="text-danger">*</span></label>
            <input nbInput fullWidth id="inputPrice" placeholder="{{ 'global.price' | translate }}" formControlName="price" />
          </div>
        </div>

        <hr />

        <!-- Customer -->
        <div class="row w-100">
          <div class="col form-group">
            <label for="inputCustomerId" class="label">{{ 'global.customer' | translate }}</label>
            <nb-select
              fullWidth
              id="inputCustomerId"
              placeholder="{{ 'purchases.select-customer' | translate }}"
              formControlName="customerId"
            >
              <nb-option [value]="undefined">{{ 'purchases.none' | translate }}</nb-option>
              <nb-option *ngFor="let customer of customers$ | async" [value]="customer.id">{{ customer.address }}</nb-option>
            </nb-select>
          </div>

          <div class="col-12 col-md-2 d-flex align-items-center mt-0 mt-md-3">
            <nb-toggle [(checked)]="enableCustomerEdit" [disabled]="!form.get('customerId').value">{{
              'purchases.edit-customer' | translate
            }}</nb-toggle>
          </div>
        </div>

        <div formGroupName="customer">
          <div class="row w-100">
            <div class="col-12 col-lg-6 form-group">
              <label for="inputAddress" class="label">{{ 'global.address' | translate }} <span class="text-danger">*</span></label>
              <input
                type="text"
                nbInput
                fullWidth
                id="inputAddress"
                placeholder="{{ 'global.address' | translate }}"
                formControlName="address"
              />
            </div>

            <div class="col-12 col-sm-6 col-lg-3 form-group">
              <label for="inputName" class="label">{{ 'global.name' | translate }}</label>
              <input type="tel" nbInput fullWidth id="inputName" placeholder="{{ 'global.name' | translate }}" formControlName="name" />
            </div>

            <div class="col-12 col-sm-6 col-lg-3 form-group">
              <label for="inputPhone" class="label">{{ 'global.phone' | translate }} <span class="text-danger">*</span></label>
              <input type="tel" nbInput fullWidth id="inputPhone" placeholder="{{ 'global.phone' | translate }}" formControlName="phone" />
            </div>
          </div>

          <div class="row w-100">
            <div class="col form-group">
              <label for="inputCustomerDescription" class="label">{{ 'purchases.customer-descr' | translate }}</label>
              <textarea
                nbInput
                fullWidth
                placeholder="{{ 'purchases.customer-descr' | translate }}"
                formControlName="description"
              ></textarea>
            </div>
          </div>

          <div class="row w-100">
            <div class="col-6 col-md form-group">
              <label for="inputCompanyName" class="label">{{ 'global.company-name' | translate }}</label>
              <input
                nbInput
                fullWidth
                fieldSize="small"
                id="inputCompanyName"
                placeholder="{{ 'global.company-name' | translate }}"
                formControlName="companyName"
              />
            </div>

            <div class="col-6 col-md form-group">
              <label for="inputTaxId" class="label">{{ 'global.tax-id' | translate }}</label>
              <input
                nbInput
                fullWidth
                fieldSize="small"
                id="inputTaxId"
                placeholder="{{ 'global.tax-id' | translate }}"
                formControlName="taxId"
              />
            </div>

            <div class="col-6 col-md form-group">
              <label for="inputNationalId" class="label">{{ 'global.national-id' | translate }}</label>
              <input
                nbInput
                fullWidth
                fieldSize="small"
                id="inputNationalId"
                placeholder="{{ 'global.national-id' | translate }}"
                formControlName="nationalId"
              />
            </div>

            <div class="col-6 col-md form-group">
              <label for="inputCheckingAccount" class="label">{{ 'global.checking-account' | translate }}</label>
              <input
                nbInput
                fullWidth
                fieldSize="small"
                id="inputCheckingAccount"
                placeholder="{{ 'global.checking-account' | translate }}"
                formControlName="checkingAccount"
              />
            </div>
          </div>
        </div>

        <hr />

        <div class="row w-100">
          <div class="col-12 col-lg-9 form-group">
            <label for="inputDescription" class="label">{{ 'purchases.purchase-descr' | translate }}</label>
            <textarea nbInput fullWidth placeholder="{{ 'purchases.purchase-descr' | translate }}" formControlName="description"></textarea>
          </div>

          <div class="col-12 col-lg-3 form-group">
            <label for="inputDeliveryDate" class="label">{{ 'purchases.time-of-delivery' | translate }}</label>
            <date-input id="inputDeliveryDate" formControlName="deliveryDate"></date-input>
          </div>
        </div>

        <div class="row w-100 d-flex justify-content-end align-items-baseline p-3">
          <nb-toggle
            id="inputReduceStock"
            class="mx-3"
            labelPosition="left"
            [status]="toggleReduceStock.checked ? 'primary' : 'warning'"
            formControlName="reduceStock"
            #toggleReduceStock
            >{{ 'purchases.reduce-stock' | translate }}</nb-toggle
          >

          <button
            nbButton
            *ngIf="!state.createdPurchase; else successButton"
            class="mt-3"
            type="submit"
            size="large"
            [nbSpinner]="state.isBusy"
            [disabled]="state.isBusy || form.invalid"
            (click)="onSubmit()"
          >
            <nb-icon icon="save"></nb-icon>
            {{ 'global.save' | translate }}
          </button>
          <ng-template #successButton>
            <button nbButton class="mt-3" type="button" size="large" status="success" (click)="onClear()">
              <nb-icon icon="plus-outline"></nb-icon>
              {{ 'global.new' | translate }}
            </button>
          </ng-template>
        </div>
      </form>
    </nb-card-body>
  </nb-card>
</div>
